In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df=pd.DataFrame(columns=['IDData','Ano'])

In [4]:
df['Ano']=pd.period_range("1/1/1956", freq="Y", periods=66)

In [5]:
df['IDData']=df.index+1

In [6]:
df['Ano'] = df['Ano'].astype(str).astype(int)

In [7]:
conditions2=[((df['Ano']%10)<5),(df['Ano']%10)>=5]

In [8]:
values2=['Primeira Metade da Decada','Segunda Metade da Decada']

In [9]:
df['MetadeDaDecada']=np.select(conditions2,values2)

In [10]:
conditions=[(df['Ano']<1960),
           (df['Ano']>=1960) & (df['Ano']<1970),
           (df['Ano']>=1970) & (df['Ano']<1980),
           (df['Ano']>=1980) & (df['Ano']<1990),
           (df['Ano']>=1990) & (df['Ano']<2000),
           (df['Ano']>=2000) & (df['Ano']<2010),
           (df['Ano']>=2010) & (df['Ano']<2020),
           (df['Ano']>=2020)]

In [11]:
values=[1950,1960,1970,1980,1990,2000,2010,2020]

In [12]:
df['Decada']=np.select(conditions,values)

In [13]:
conditions1=[(df['Ano']<2000),df['Ano']>=2000]

In [14]:
values1=[20,21]

In [15]:
df['Seculo']=np.select(conditions1,values1)

In [16]:
print(df)

    IDData   Ano             MetadeDaDecada  Decada  Seculo
0        1  1956   Segunda Metade da Decada    1950      20
1        2  1957   Segunda Metade da Decada    1950      20
2        3  1958   Segunda Metade da Decada    1950      20
3        4  1959   Segunda Metade da Decada    1950      20
4        5  1960  Primeira Metade da Decada    1960      20
..     ...   ...                        ...     ...     ...
61      62  2017   Segunda Metade da Decada    2010      21
62      63  2018   Segunda Metade da Decada    2010      21
63      64  2019   Segunda Metade da Decada    2010      21
64      65  2020  Primeira Metade da Decada    2020      21
65      66  2021  Primeira Metade da Decada    2020      21

[66 rows x 5 columns]

In [17]:
df.to_csv("DimData.csv", index=False)